<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{data.titulo}}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="home">Inicio</a></li>
        <li><a href="asociados">Asociados</a></li>
        <li>Licencia: <span id="placaMostrada"></span></li>
        <li><a href="login" id="logout">Cerrar Sesion</a></li>
      </ul>
    </nav>
    <h2>Bienvenido, <span id="placaMostrada"></span></h2>
    <p>Los PDF asociados a su licencia son:</p>
    <ul id="pdfList"></ul>
    <script>
        const placaCargada = localStorage.getItem("placaIngresada"); // Placa ingresada
        const pdfs = JSON.parse('{{ data.pdfs | tojson }}'); // Lista de nombres de pdfs
        const pdfs_comunes = []
        
        for (let i in pdfs) {
            if (pdfs[i].includes(placaCargada)) { 
                pdfs_comunes.push(pdfs[i]);
            }
        }

        const pdfListElement = document.getElementById("pdfList");

        for (let i = 0; i < pdfs_comunes.length; i++) {
            const pdfItem = document.createElement("li");
            pdfItem.textContent = pdfs_comunes[i];
            pdfListElement.appendChild(pdfItem);
        }
    </script>  
    
    </div>
    <script>
      // Obtener y mostrar la placa almacenada en localStorage
      var placaIngresada = localStorage.getItem("placaIngresada");
      if (placaIngresada) {
        document.getElementById("placaMostrada").textContent = placaIngresada;
      }
    </script>
  </body>
</html>
