<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
  </head>
  <body>
    <div>
      <h1>{{data.titulo}}</h1>
      <img src="{{data.logo}}" />
      <div>
        <div>
          <h2>Iniciar Sesión</h2>
          <form id="login-form">
            <div>
              <label for="placa">Placa del Vehículo</label>
              <input type="text" id="placa" placeholder="XX-0000" required />
            </div>
            <button type="submit">Iniciar Sesión</button>
          </form>
        </div>
      </div>
    </div>
    <div>{{data.licencias}}</div>

    <script>
      document
        .getElementById("login-form")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          const placa = document.getElementById("placa").value;
          const licenciasPermitidas = "{{data.licencias}}";

          if (licenciasPermitidas.includes(placa)) {
            // Guardar la placa en localStorage para acceder desde otras páginas
            localStorage.setItem("placaIngresada", placa);
            window.location.href = "home";
          } else {
            alert("Placa no válida. Inténtalo de nuevo.");
          }
          // Línea para limpiar el campo del formulario
          document.getElementById("placa").value = "";
        });
    </script>
  </body>
</html>
